<div class="top_panel_title top_panel_style_3 title_present breadcrumbs_present scheme_original">
    <div class="top_panel_title_inner inner-bg6">
        <div class="content_wrap">

        </div>
    </div>
</div>

<!-- /Breadcrumbs -->

<div
    class="page body_style_wide body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_hide">
    <a id="toc_home" class="sc_anchor" title="Home"
        data-description="<i>Return to Home</i> - <br>navigate to home page of the site" data-icon="icon-home"
        data-url="index.html" data-separator="yes"></a>
    <a id="toc_top" class="sc_anchor" title="To Top"
        data-description="<i>Back to top</i> - <br>scroll to top of the page" data-icon="icon-double-up" data-url=""
        data-separator="yes"></a>
    <br>
    <div class="latest-news-block" style="background-color:#ccc">
        <div class="latest-news-block-hightlight">
            <div class="latest-update-block"> <span class="block-2"> Updates </span>
                <div style="overflow:hidden">
                    <marquee behavior="scroll" direction="left" scrolldelay="15" scrollamount="1" truespeed="10"
                        onmouseover="this.stop()" onmouseout="this.start()" style="height:30px; white-space: nowrap">
                        <div class="tickercontainer">
                            <span
                                class="ad-blk">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ads:</span>
                            <a href="https://jbac.in">jbac.in
                                Updates</a>
                            <span
                                class="photo_gallery-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Photo
                                Gallery:&nbsp;</span>
                            <a href="/gallery">Update Gallery</a>
                            <span
                                class="polls-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Poll:&nbsp;</span>
                            <a href="/church_timings">Are You Search
                                Church Timings</a>
                        </div>
                    </marquee>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3" style="padding-bottom: 28px">
        <h3>Marriages</h3>
        <div class="container mt-3" style="padding-bottom: 28px;">

            <div class="row">
                <div class="card max-w-sm rounded overflow-hidden shadow-lg" style="padding:15px; background: #fff; border-radius: 12px; border: 1px solid #e2e8f0;">
                    <form [formGroup]="serachMeetingform">
                        <div class="row">
                            <div class="col-md-2 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" for="pattern_name" style="font-weight: 600; font-size: 13px;">Denomination</label>
                                    <select class="form-control" formControlName="denomation_id"
                                        (change)="serachgender($event,1);" style="height:38px; width: 100%;">
                                        <option value="">All Denominations</option>
                                        <option *ngFor="let i of denomation" [value]="i.id">
                                            {{i.denomation_name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" style="font-weight: 600; font-size: 13px;">Ministry</label>
                                    <select class="form-control" formControlName="ministry_id"
                                        (change)="serachgender($event,2);" style="height:38px; width: 100%;">
                                        <option value="">All Ministries</option>
                                        <option *ngFor="let i of ministryname" [value]="i.id">
                                            {{i.ministryname}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" style="font-weight: 600; font-size: 13px;">Gender</label>
                                    <select class="form-control" formControlName="gender"
                                        (change)="serachgender($event,3);" style="height:38px; width: 100%;">
                                        <option value="">All Genders</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" style="font-weight: 600; font-size: 13px;">Marital Status</label>
                                    <select class="form-control" formControlName="status"
                                        (change)="serachcaste($event,4);" style="height:38px; width: 100%;">
                                        <option value="">All Statuses</option>
                                        <option value="Single">Single</option>
                                        <option value="Married">Married</option>
                                        <option value="Divorce">Divorce</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" style="font-weight: 600; font-size: 13px;">Caste / కులం</label>
                                    <select class="form-control" formControlName="caste" (change)="serach($event,5);"
                                        style="height:38px; width: 100%;">
                                        <option value="">All Castes</option>
                                        <option value="SC">No Caste</option>
                                        <option value="SC">SC</option>
                                        <option value="ST">ST</option>
                                        <option value="BC">BC - A</option>
                                        <option value="BC">BC - B</option>
                                        <option value="BC">BC - C</option>
                                        <option value="BC">BC - D</option>
                                        <option value="BC">BC - E</option>
                                        <option value="OC">OC </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" style="font-weight: 600; font-size: 13px;">Spiritual Status</label>
                                    <select class="form-control" formControlName="spirti"
                                        style="height:38px; width: 100%;" (change)="spirit($event,6)">
                                        <option value="">All Spiritual</option>
                                        <option value="practicingchristian">Practicing Christian</option>
                                        <option value="nominalchristian">Nominal Christian</option>
                                        <option value="festivalchristian">Festival Christian</option>
                                        <option value="justbelievingjesus">Just Believing Jesus</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-2 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" style="font-weight: 600; font-size: 13px;">Districts / జిల్లా</label>
                                    <select class="form-control" formControlName="district_id"
                                        (change)="onDistrictChange($event);"
                                        style="height:38px; width: 100%;">
                                        <option value="">All Districts</option>
                                        <option [value]="item.id" *ngFor="let item of districts">
                                            {{item.distrct_nm}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" style="font-weight: 600; font-size: 13px;">నియోజకవర్గం</label>
                                    <select class="form-control" formControlName="constenncy_id"
                                        (change)="onConstituencyChange($event);"
                                        style="height:38px; width: 100%;">
                                        <option value="">All Constituencies</option>
                                        <option [value]="item.id" *ngFor="let item of constituency">
                                            {{item.const_nm}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" style="font-weight: 600; font-size: 13px;">మండలం</label>
                                    <select class="form-control" formControlName="mandal_id"
                                        (change)="onMandalChange($event);"
                                        style="height:38px; width: 100%;">
                                        <option value="">All Mandals</option>
                                        <option [value]="item.id" *ngFor="let item of mandals">
                                            {{item.mndl_nm}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <div class="form-outline">
                                    <label class="form-label" style="font-weight: 600; font-size: 13px;">పంచాయతీ</label>
                                    <select class="form-control" formControlName="panchayati_id"
                                        (change)="onPanchayatiChange($event);" style="height:38px; width: 100%;">
                                        <option value="">All Panchayats</option>
                                        <option [value]="item.id" *ngFor="let item of panchayati">
                                            {{item.pnchyt_nm}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2 mb-3">
                                <label class="form-label d-none d-md-block">&nbsp;</label>
                                <button type="button" class="btn btn-primary w-100"
                                    style="height: 38px; font-weight: 600; background-color: #2b7a78; border-color: #2b7a78; color: #fff;"
                                    (click)="search()">
                                    <i class="fa fa-search"></i> Search
                                </button>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label class="form-label d-none d-md-block">&nbsp;</label>
                                <button type="button" class="btn btn-outline-secondary w-100"
                                    style="height: 38px; font-weight: 600;"
                                    (click)="reset()">
                                    <i class="fa fa-refresh"></i> Reset
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-lg-8">
                <!-- Empty State Message when no records found -->
                <div *ngIf="noRecordsFound || (hasSearched && (!marriagedata || marriagedata.length === 0))" class="col-12 py-5 text-center">
                    <div class="alert alert-warning shadow-sm p-4 mx-auto" style="max-width: 650px; border-radius: 12px; font-size: 18px; font-weight: 500; background-color: #fff3cd; color: #856404; border: 1px solid #ffeeba;">
                        <i class="fa fa-info-circle fa-2x mb-2 d-block text-warning"></i>
                        <h4 style="color: #856404; font-weight: 600; margin-bottom: 8px;">you have no records / no records found</h4>
                        <p class="mb-0 text-muted" style="font-size: 14px;">మీరు వెతికిన వివరాలకు సరిపడే వివాహ సంబంధాలు ఏవీ లభించలేదు. / No marriage records found matching your filters.</p>
                    </div>
                </div>

                <!-- Marriage Cards Grid when records exist -->
                <div class="row" *ngIf="marriagedata && marriagedata.length > 0 && !noRecordsFound">
                    <div class="col-md-6 mb-4" *ngFor="let item of marriagedata">
                        <div class="card h-100 shadow-sm" style="border-radius: 12px; overflow: hidden; background: #ffffff; border: 1px solid #e2e8f0; color: #2d3748;">
                            <div style="background-color: #edf2f7; text-align: center; padding: 12px; border-bottom: 1px solid #e2e8f0;">
                                <img [src]="item.image || 'assets/images/user.jpg'"
                                    (error)="$any($event.target).src = 'assets/images/user.jpg'"
                                    (click)="openimg(item.image || 'assets/images/user.jpg', openmodel)"
                                    alt="{{item.name}}"
                                    style="height: 230px; width: 100%; max-width: 250px; object-fit: cover; border-radius: 8px; cursor: pointer; box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);">
                            </div>
                            <div class="card-body p-3" style="font-size: 14px;">
                                <h5 class="card-title font-weight-bold mb-2" style="font-size: 18px; color: #1a365d;">{{ item.name || 'Anonymous' }}</h5>
                                <div class="mb-1" *ngIf="item.denomination_id"><strong>Denomination:</strong> {{ getDenominationName(item.denomination_id) || item.denomination_name || item.denomation_name || item.denomination_id }}</div>
                                <div class="mb-1" *ngIf="item.ministry_id"><strong>Ministry:</strong> {{ getMinistryName(item.ministry_id) || item.ministryname || item.ministry_id }}</div>
                                <div class="mb-1" *ngIf="item.work"><strong>Work:</strong> {{ item.work }}</div>
                                <div class="mb-1"><strong>Gender:</strong> {{ item.gender || 'N/A' }} &nbsp;|&nbsp; <strong>Status:</strong> {{ item.status || 'N/A' }}</div>
                                <div class="mb-1" *ngIf="item.caste"><strong>Caste:</strong> {{ item.caste }} <span *ngIf="item.subcaste">({{ item.subcaste }})</span></div>
                                <div class="mb-2" *ngIf="item.address"><strong>Address:</strong> {{ item.address }}</div>

                                <!-- Read More Toggle -->
                                <div class="my-2">
                                    <a (click)="toggleShowMore(item)" style="color: #c0392b; font-weight: 600; cursor: pointer; text-decoration: underline;">
                                        {{ item.showMore ? '▲ SHOW LESS' : '▼ READ MORE / DETAILS' }}
                                    </a>
                                </div>

                                <!-- Extended Details on Toggle -->
                                <div *ngIf="item.showMore" class="mt-2 pt-2 border-top text-muted" style="background-color: #f7fafc; padding: 10px; border-radius: 6px;">
                                    <div class="mb-1" *ngIf="item.dob"><strong>Date of Birth:</strong> {{ item.dob | date:'dd/MM/yyyy' }}</div>
                                    <div class="mb-1" *ngIf="item.height"><strong>Height:</strong> {{ item.height }}</div>
                                    <div class="mb-1" *ngIf="item.color"><strong>Complexion:</strong> {{ item.color }}</div>
                                    <div class="mb-1" *ngIf="item.spirti"><strong>Spiritual Status:</strong> {{ item.spirti }}</div>
                                    <div class="mb-1" *ngIf="item.education"><strong>Education:</strong> {{ item.education }}</div>
                                    <div class="mb-1" *ngIf="item.description"><strong>Description:</strong> {{ item.description }}</div>
                                    <div class="mt-2 d-flex align-items-center">
                                        <a *ngIf="item.location" [href]="item.location" target="_blank" class="mr-3 text-info" style="margin-right: 15px;">
                                            <img src="assets/images/marker.png" style="width: 28px; vertical-align: middle;"> Location
                                        </a>
                                        <a *ngIf="item.phonenumber" [href]="'tel:+91' + item.phonenumber" class="btn btn-sm btn-success text-white">
                                            <img src="assets/images/phone.png" style="width: 20px; vertical-align: middle;"> Call: {{ item.phonenumber }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <marquee onmouseover="this.stop();" onmouseout="this.start();" direction="up"
                    style="scroll-behavior: smooth;">
                    <div class="container">
                        <div style="border:solid green">
                            <article>
                                <div class="article-wrapper">
                                    <div class="article-body">
                                        <h3 style="text-align:center;color: black; padding:2%;">
                                            Welcome To JBAC.IN
                                        </h3>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div *ngFor="let item of adds" style="border:solid green">
                            <article>
                                <div class="article-wrapper">
                                    <div class="article-body">
                                        <img style="height:80%;width:100%;" src="{{item.image}}"
                                            (click)="openimg(item.image,openmodel)" alt="image" alt="images. ">
                                        <p style="color: black; padding:2%;">
                                            <b>{{item.description}}</b>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </marquee>
            </div>
        </div>



        <!-- //////image popup_code //////////////////////// -->
        <ng-template #openmodel let-modal>
            <div class="modal-header">
                <h5 class="modal-title mt-0 ">Image</h5>
                <button type="button" class="close" aria-hidden="true" (click)="proofmodalDismis()">x</button>
            </div>

            <img src={{image}}>

        </ng-template>
    </div>

</div>
<br><br>